<!-- wp:custom-blocks/main-nav /-->

<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Collins Music Academy</h1>
<!-- /wp:heading -->

<!-- wp:image -->
<figure class="wp-block-image">
	<img src="https://picsum.photos/1340/300" alt="my image" />
</figure>
<!-- /wp:image -->

<!-- wp:group {"tagName": "section"} -->
<section class="wp-block-group">
	<!-- wp:heading {"level":2} -->
	<h2 class="wp-block-heading">About Us</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, adipisci
		quisquam. Doloremque excepturi placeat eligendi odio veniam ipsum quos
		distinctio. Velit esse quibusdam rem ea aspernatur inventore deleniti
		doloribus quae?
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:paragraph -->
	<p>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas fugiat
		consectetur iusto provident, expedita sint ducimus odio corrupti sed
		exercitationem molestiae. Rerum, minima. Quibusdam aliquam necessitatibus
		facilis non dolorum voluptatem rerum repellat maxime magnam. Nam ipsa quas
		ducimus officiis itaque distinctio. Facere reiciendis blanditiis, sunt
		recusandae soluta odio, eius, nemo nesciunt quos expedita quam harum omnis
		eligendi assumenda veritatis delectus facilis nulla neque enim quidem
		dolore. Maxime unde at debitis quod illum quis velit non nemo explicabo
		laudantium dolore vel quaerat nobis omnis aperiam saepe laborum ea quasi
		itaque aliquam labore consectetur neque, iste vero! Sit delectus officia
		culpa. Quibusdam.
	</p>
	<!-- /wp:paragraph -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName": "section"} -->
<section class="wp-block-group">
	<!-- wp:heading {"level":2} -->
	<h2 class="wp-block-heading">Instructors</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur animi
		deserunt laborum asperiores neque alias nisi dolorum eius iusto nihil.
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:custom-blocks/instructors-list /-->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName": "section"} -->
<section class="wp-block-group">
	<!-- wp:heading {"level":3} -->
	<h3 class="wp-block-heading">Want to become a master musician?</h3>
	<!-- /wp:heading -->
	<!-- wp:button -->
	<div class="wp-block-button">
		<a class="wp-block-button__link" href="/page-lessons"
			>Book a Lesson Today!</a
		>
	</div>
	<!-- /wp:button -->
</section>
<!-- /wp:group -->
