<!-- wp:custom-blocks/main-nav /-->

<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Collins Music Academy</h1>
<!-- /wp:heading -->

<!-- wp:image -->
<figure class="wp-block-image">
	<img src="https://picsum.photos/1340/300?grayscale" alt="my image" />
</figure>
<!-- /wp:image -->

<!-- wp:heading {"level":2} -->
<h2 class="wp-block-heading">Guitar</h2>
<!-- /wp:heading -->

<!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">Available Lessons</h3>
<!-- /wp:heading -->

<!-- wp:group {"tagName": "section"} -->
<section class="wp-block-group">
	<!-- wp:custom-blocks/lesson-details /-->
	<!-- wp:custom-blocks/lesson-details /-->
	<!-- wp:custom-blocks/lesson-details /-->
	<!-- wp:custom-blocks/lesson-details /-->
</section>
<!-- /wp:group -->
