<!-- wp:custom-blocks/main-nav /-->

<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Collins Music Academy</h1>
<!-- /wp:heading -->

<!-- wp:image -->
<figure class="wp-block-image">
	<img src="https://picsum.photos/1280/400" alt="Collins Music Academy" />
</figure>
<!-- /wp:image -->

<!-- wp:heading {"level":2} -->
<h2 class="wp-block-heading">Lessons</h2>
<!-- /wp:heading -->

<!-- wp:group {"tagName": "section"} -->
<section class="wp-block-group">
	<!-- wp:heading {"level":3} -->
	<h3 class="wp-block-heading">Browse by Instrument</h3>
	<!-- /wp:heading -->
	<!-- wp:paragraph -->
	<p>
		Not sure where to start? Schedule an assessment and we'll find the perfect
		starting place for you!
	</p>
	<!-- /wp:paragraph -->
	<!-- wp:button -->
	<div class="wp-block-button">
		<a class="wp-block-button__link wp-element-button">
			Schedule an Assessment
		</a>
	</div>
	<!-- /wp:button -->
</section>
<!-- /wp:group -->

<!-- wp:custom-blocks/lessons-list /-->
